@import 'reset.css';

body{
    background-image: url("https://source.unsplash.com/category/nature");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; 
    color: white;
    display: flex;
    flex-direction: column; /*기본값은 row*/
}

main{
    flex: 1;
    display: flex; /*기본적으로 가로배치*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
