@import 'reset.css';

body{
    background-image: url("https://source.unsplash.com/category/nature");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh; 
    color: white;
    display: flex;
    flex-direction: column; /*기본값은 row*/
}

main{
    flex: 1;
    display: flex; /*기본적으로 가로배치*/
    flex-direction: column;
    align-items: center; /* 축 */
    justify-content: center; /* 아이템 */
}

header{
    display: flex;
    justify-content: flex-end;
}

.weather{
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    margin: 0.5em;
}

.info{
    display: flex;
}

time{
    font-size: 7em;
    font-weight: lighter; 
    /*lighter, light, normal, bold, bolder*/
}

.user_name{
    font-size: 2em;
    font-family: 'Sunflower', sans-serif;
}

.dust{
    text-align: right;
}
.temp{
    text-align: right;
}

input{
    outline: none;
    background: none;
    border: none;
    color: white;
    border-bottom: 0.2em white solid; /* 두께 색깔 종류 */
    font-size: 1em;
    font-family: 'Sunflower', sans-serif;
    width: 3em;
}